@import url(./styles/chat.css);
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(18, 18, 24);
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px;
}
.edit-admin {
  margin-left: 20px;
}
.admin-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nav-item {
  padding: 0 10px;
}
.add-user {
  color: #fff;
  text-decoration: none;
}
.add-user:hover {
  color: #fff;
  text-decoration: none;
}
.login-form {
  margin: 0 auto;
  margin-top: 60px;
  width: 500px;
}
.admin-panel-text {
  color: #fff !important;
}
