.header {
  min-height: 100px;
  background-color: rgb(15, 15, 19);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__inner {
  width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: rgb(173, 163, 255);
  border: 2px solid rgb(173, 163, 255);
}
.header-text {
  display: inline-block;
  padding: 0 7px;
}
