.message-input {
  background-color: rgb(15, 15, 19);
  position: sticky;
  bottom: 0;
  z-index: 2;
  display: flex;
  display: flex;
  justify-content: center;
}
.message-input-text input {
  background-color: rgb(18, 18, 24);
  color: #fff;
  border: none;
  width: 400px;
  outline: none;
  min-height: 60px;
  padding: 0 10px;
}
.message-input-button {
  border: none;
  background-color: rgb(198, 198, 216);
}
