.message {
  width: 500px;
  background-color: rgb(44, 44, 61);
  color: #fff;
  display: grid;
  grid-gap: 2px;
  align-items: center;
  border-radius: 8px;
  margin: 20px;
  padding: 15px;
  font-size: 16px;
}
.own-message {
  display: flex;
  justify-content: end;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  padding: 0 10px;
  font-size: 20px;
}
.message-text {
  display: inline-block;
  max-width: 300px;
}
.message-user-avatar {
  display: inline-block;
  padding-right: 15px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.message-time {
  font-size: 12px;
  color: rgb(173, 163, 255);
}
.message-like .icon {
  display: inline-block;
  text-align: center;
  font-size: 24px;
}
.message-like .inactive {
  color: rgb(168, 168, 168);
}
.message-like .active {
  color: rgb(221, 7, 7);
  padding-right: 5px;
}
